@font-face {
    font-family: Comfortaa;
    src: url(fonts/text.ttf); 
   }
   body {
    background-image: url("img/bg.jpg");
    background-attachment: fixed;
    font-family: "Comfortaa", serif;
   }
   .glav {
    color: black;
    text-decoration: none;  
   }
   ul.hr {
    margin: 0; 
    padding: 4px; 
    list-style: none;
   }
   ul.hr li {
    display: inline; 
    margin-right: 5px; 
    font-size: .8em; 
   }
   .hr a{
   	text-decoration: none;
   }
   a:active {
   	color: black;
   }
   a:hover {
   	/* text-decoration: underline;  */
   }
   .main {
    width: 1080px; 
    background: white;
    padding: 5px;
    padding-right: 20px; 
    border-radius: 3px;
    box-shadow: 0 0 20px orange;
   }
   main {
   padding-top: 50px;
   padding-left: auto;
   padding-right: auto;
   padding-bottom: 50px;
   }
    
  a.button { 
  display: inline-block;
  color: orange;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 5px;
  transition: 0.2s;
  user-select: none;
} 
a.button:hover { background: rgba(255,255,255,.2); }
a.button:active { background: white; }
   }
   br {
    user-select: none;
   }
   .bottom {
    border-bottom: 2px solid #ccc;
   }